

body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d3648;
  padding: 8px;
}

a:link {
  text-decoration: none;
}

.header {
  display: flex;
  background-color: white;
  align-items: center;
  gap: 20px;
  padding: 20px 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: solid #1a202c 4px;
}

.header-logo {
  height: 40px;
  width: auto;
}

.header-top-nav {
  flex-grow: 1;
}

.header-nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-item {
  font-size: 20px;
  color: #2d3648;
}

.mobile-header {
  box-sizing: border-box;
  display: none;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 92px);
  background-color: #2d3648;
  align-items: center;
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mobile-header-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.menu-button {
  display: none;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  border-color: #2d3648;
}

.menu-img {
  height: 25px;
  width: auto;
}

.landing-page {
  height: 100vh;
  background-color: #edf0f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 50px;
  border-bottom: solid #1a202c 4px;
}

.text-group {

}

.text-title {
  font-size: 80px;
  text-align: center;
  color: #717d96;
}

.text-content {
  font-size: 40px;
  text-align: center;
  color: #a0abc0;
}

.button-group {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button {
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  padding: 20px 60px;
}

.button-first {
  background-color: #2d3648;
  color: white;
}

.button-first:hover {
  background-color: white;
  color: #2d3648;
}

.button-second {
  background-color: white;
  color: #2d3648;
}

.button-second:hover {
  background-color: #2d3648;
  color: white;
}

.second-page, .third-page {
  box-sizing: border-box;
  width: 100%;
  padding: 100px 50px;
  height: calc(100vw - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-page {
  background-color: white;
}

.third-page {
  background-color: #717d96;
}

.photo-text {
  color: #a3adc2;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: dashed #cbd2e0 2px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #1a202c;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-logo {
  height: 40px;
  width: max-content;
}

.footer-text {
  font-size: 20px;
  color: white;
}


.footer-nav {
  list-style: none;
  display: flex;
  gap: 30px;
}


.footer-item {
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 768px) {

  .landing-page {
    justify-content: space-between;
  }
  
  .header-nav {
    display: none; /* Hide the navigation links in mobile view */
  }

  .mobile-header.responsive {
    display: flex;
  }

  .menu-button {
    display: block; /* Show the menu icon in mobile view */
  }

  .footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
